In [2]:
#O objetivo deste algoritmo é gerar um CSV de todas os relatos dos estados dos EUA 
#com duas respectivas latitudes e longitudes
import pandas as pd

#lê o arquivo csv com os relatos
df_ovnis = pd.read_csv("ovnis.csv", index_col=[0])
#lê o  arquivo csv com todas latitudes e longitudes dos estados
df_longlat = pd.read_csv("uscities.csv")

#inicias os arrays
cidades = []
lats = []
lngs = []

#adicionas aos arrays todas cidades, latitudes e longitudes com os mesmos index
for i, row in df_longlat.iterrows():
  cidades.append(row["city"])
  lats.append(row["lat"])
  lngs.append(row["lng"])

print("Carregou todas as cidades, longitudes e latitudes")

Carregou todas as cidades, longitudes e latitudes

In [4]:
#Array contendo as siglas de  todos os estados dos EUA
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

selection = df_ovnis['State'].isin(states)
#Dataframe ja filtrado com estados so dos EUA
df_eua = df_ovnis[selection]

#Prepara novas colunas para o novo dataframe
COLUNAS = [
    'City',
    'State',
    'Latitude',
    'Longitude'
]

#cria novo dataframe concatenado
df_cidades = pd.DataFrame(columns=COLUNAS)
#adiciona suas respectivas  colunas
df_cidades['City'] = df_eua['City']
df_cidades['State'] = df_eua['State']

#funcao que retorna a latitude de acordo com o nome da cidade
def getLatitude(city):
  latitude = 0
  for i in range(0, len(cidades)):
    if(city == cidades[i]):
      latitude = lats[i]
  return latitude

#funcao que retorna a longitude de acordo com o nome da cidade
def getLongitude(city):
  longitude = 0
  for i in range(0, len(cidades)):
    if(city == cidades[i]):
      longitude = lngs[i]
  return longitude

#Incrementa o valor da latitude e longitude de cada linha do dataframe
for i in range(0, len(df_cidades)):
  df_cidades.iloc[i].Latitude = getLatitude(df_cidades.iloc[i].City)
  df_cidades.iloc[i].Longitude = getLongitude(df_cidades.iloc[i].City)

#gera CSV concatenado
df_cidades.to_csv("ovnis_lat_lng.csv")
#ESSE PROCESSO PODE DEMORAR BASTANTE, POIS SÃO MUITAS CIDADES
df_cidades

                  City State Latitude Longitude
1      Solomons Island    MD        0         0
2         Garden Grove    CA  40.8264  -93.6073
3          Panama City    FL  30.1995  -85.6004
4              Houston    TX  35.0349  -92.6945
5             Santa Fe    NM  29.3892  -95.1005
...                ...   ...      ...       ...
71896         Corcoran    MN  45.1089  -93.5837
71897    Moreno Valley    CA  33.9244  -117.204
71898        Bradenton    FL    27.49  -82.5739
71899       Springdale    AR  45.7381  -110.224
71900           Laurel    MD  41.8841  -92.9222

[64972 rows x 4 columns]