In [3]:
import pandas as pd

df_ovnis = pd.read_csv("ovnis.csv", index_col=[0])

print("1. Quantidade de variáveis que foram coletadas:")
#Conta a quantidade de vdados para cada variavel com a funcao count()
df_ovnis.count()

1. Quantidade de variáveis que foram coletadas:

Date / Time    71901
City           71759
State          67565
Shape          70508
Duration       69939
Summary        71894
Posted         71901
dtype: int64

In [4]:
print("2. Relatos que ocorreram por estado em ordem decrescente:")
#Usa a funcao groupby() pra agrupar por estado, a funcao count() para contar e a funcao sort_values() para ordenar de forma decrescente
df_relatos = df_ovnis
df_relatos = df_relatos.groupby('State').count()
df_relatos = df_relatos.sort_values(ascending=False, by="Posted")['Posted']
df_relatos

2. Relatos que ocorreram por estado em ordem decrescente:

State
CA    7911
FL    4352
WA    3225
TX    2882
NY    2824
      ...
NF      21
YT      14
PE       9
NT       7
SA       4
Name: Posted, Length: 64, dtype: int64

In [5]:
print("3. Remover possíveis campos vazios (sem estado):")
#Exclui toda linha cujo Estado seja nulo com a funcao dropna()
df_ovnis = df_ovnis.dropna(subset=["State"])
df_ovnis

3. Remover possíveis campos vazios (sem estado):

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
3      9/18/97 20:15  ...   3/13/12
4      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
71896   8/1/17 02:45  ...    8/4/17
71897   8/1/17 02:00  ...    8/4/17
71898   8/1/17 01:00  ...    5/9/19
71899   8/1/17 00:00  ...   2/13/20
71900         8/1/17  ...   6/25/20

[67565 rows x 7 columns]

In [7]:
print("4. Limitar a análise aos estados dos Estados Unidos.")

#como a planilha nao oferece dados dos paises de origem, o vetor abaixo representa a sigla dos estados dos EUA
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

selection = df_ovnis['State'].isin(states)
df_ovnis = df_ovnis[selection]

df_ovnis

4. Limitar a análise aos estados dos Estados Unidos.

         Date / Time  ...   Posted
1      9/22/97 20:00  ...   8/5/09
2            9/19/97  ...  12/1/19
3      9/18/97 20:15  ...  3/13/12
4      9/15/97 00:00  ...  7/19/10
5      9/15/97 20:00  ...  11/9/17
...              ...  ...      ...
71896   8/1/17 02:45  ...   8/4/17
71897   8/1/17 02:00  ...   8/4/17
71898   8/1/17 01:00  ...   5/9/19
71899   8/1/17 00:00  ...  2/13/20
71900         8/1/17  ...  6/25/20

[64972 rows x 7 columns]

In [ ]:
print("5. Consulta por cidades, com o objetivo de saber quais contêm o maior número de relatos (cidades que apresentem ao menos 10 relatos).")

#Usa a funcao groupby() pra agrupar por estado, a funcao count() para contar e a funcao sort_values() para ordenar de forma decrescente
cidades = df_ovnis
cidades = cidades.groupby('City').count()
cidades = cidades.sort_values(ascending=False, by="Posted")
cidades = cidades.query('Posted >= 10')['Posted']
cidades

5. Consulta por cidades, com o objetivo de saber quais contêm o maior número de relatos (cidades que apresentem ao menos 10 relatos).

City
Phoenix        366
Las Vegas      339
Seattle        324
Portland       318
San Diego      273
              ...
Centreville     10
Hamden          10
San Dimas       10
La Grande       10
Riverhead       10
Name: Posted, Length: 1490, dtype: int64

In [ ]:
print("6. Com o dado anterior, responder a seguinte pergunta: por que será que essa é a cidade que possui mais relatos?")
print("Porque é a cidade onde fica mais afastada de grandes metrópoles, construída no local de antigos canais indigenas")

6. Com o dado anterior, responder a seguinte pergunta: por que será que essa é a cidade que possui mais relatos?
Porque é a cidade onde fica mais afastada de grandes metrópoles, construída no local de antigos canais indigenas

In [8]:
print("7. Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios. Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.")

california = df_ovnis[df_ovnis['State']=='CA']

COLUNAS = [
    'City',
    'Shape',
    'Quantidade'
]

df_final = pd.DataFrame(columns=COLUNAS)
df_final['City'] = california['City']
df_final['Shape'] = california['Shape']
df_final['Quantidade'] = california.groupby('City')['City'].transform('count')

#gera arquivo .csv
df_final.to_csv("ovnis_maiores_relatos.csv")

df_final

7. Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios. Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.

                 City      Shape  Quantidade
2        Garden Grove  Rectangle        29.0
11           Carlsbad      Light        39.0
13            Milford       Disk         2.0
19            Daggett  Rectangle         1.0
35          El Centro       Oval        14.0
...               ...        ...         ...
71852           Indio     Sphere        24.0
71873  San Bernardino      Flash        39.0
71879      Sun Valley     Sphere         6.0
71892         Newhall   Teardrop         5.0
71897   Moreno Valley      Other        25.0

[7911 rows x 3 columns]